In [1]:
import pandas as pd

data = pd.read_csv('ratings.csv')


def class_movie (assessment):
    if assessment <= 2:
        return 'Низкий рейтинг'
    elif assessment <=4:
        return 'Средний рейтинг'
    else:
        return 'Высокий рейтинг'
    
    
    
data['class_movie'] = data['rating'].apply(class_movie)

data.sort_values('rating', ascending = False)

       userId  movieId  rating   timestamp      class_movie
33889     242     2929     5.0   956687566  Высокий рейтинг
36867     265     1233     5.0   960056214  Высокий рейтинг
46251     337     1356     5.0  1447176421  Высокий рейтинг
14749      95     3948     5.0  1025556197  Высокий рейтинг
14747      95     3917     5.0  1019023102  Высокий рейтинг
...       ...      ...     ...         ...              ...
76709     531     1258     0.5  1243454822   Низкий рейтинг
2530       15   109187     0.5  1465794437   Низкий рейтинг
76706     531     1183     0.5  1244062924   Низкий рейтинг
76700     531     1036     0.5  1240402328   Низкий рейтинг
68262     475     3564     0.5  1447778383   Низкий рейтинг

[100004 rows x 5 columns]