In [32]:
import pandas as pd

data_movie = pd.read_csv('movies.csv')
data_ratings = pd.read_csv('ratings.csv')

all_data = data_movie[['movieId','title']].merge(data_ratings[['userId', 'movieId' ,'rating']],\
                                                on = 'movieId', how = 'left')
def production_year(row):
    years = list(range(1950,2011))
    for year in years:
        if str(year) in row:
            return year
    return 1900

all_data['year'] = all_data['title'].apply(production_year)
all_data.groupby('year').mean()[['rating']].sort_values('rating', ascending = False).head()

        rating
year
1957  4.014241
1972  4.011136
1952  4.000000
1954  3.994220
1951  3.983539

In [ ]:
def production_year(row)
    years = list(range(1950,2011))
    for year in years:
        if str(year) in row:
            return year
        return 1900